<div class="bottombar sh">

    <a class="bb_tab active" href="#" data-tab="main">
        <i class="icon_home"></i>
    </a>
    <a class="bb_tab" href="#" data-tab="service">
        <i class="icon_user"></i>
    </a>
    <a class="bb_tab" href="#" data-tab="call">
        <i class="icon_call"></i>
    </a>
    <a class="bb_tab" href="#" data-tab="vehicle_messages">
        <i class="icon_message"></i>
    </a>
    <a class="bb_tab" href="#" data-tab="messages">
        <i class="icon_mail"></i>
    </a>
    <a class="bb_tab" href="#" data-tab="deviations">
        <i class="icon_map_route"></i>
    </a>
    <a class="bb_tab" href="#" data-tab="settings">
        <i class="icon_settings"></i>
    </a>

    <div class="bar">
    </div>

</div>
