<div class="topbar sh">

    <div class="tb_left">
        <span class="time">10:27</span>
        <span class="time seconds">41</span>
    </div>



    <div class="tb_center">
        <i class="icon_bus"></i>
        <span class="info">706</span>
    </div>



    <div class="tb_right">

        <div class="icons">

            <i class="icon_tram"></i>
            <i class="icon_traffic_light"></i>
            <i class="icon_wifi"></i>
            <i class="icon_satellite"></i>
            <i class="icon_switch_on"></i>

        </div>

        <div class="nav_toggle">

            <i class="icon_navigator"></i>

        </div>

    </div>

</div>
