<div class="content">

    <div class="form" id="matr">

        <h1>Matricule</h1>

        <input inputmode="numeric" pattern="[0-9]*" type="text" name="matricule" value="" placeholder="•••••">

        <div class="buttons">

            <a class="button" href="#" data-confirm>
                <span>OK</span>
                <i class="icon_check"></i>
            </a>

        </div>

    </div>

    <div class="form" id="pwd">

        <h1>Mot de passe</h1>

        <input inputmode="numeric" pattern="[0-9]*" type="password" name="matricule" value="" placeholder="•••••">

        <div class="buttons">

            <a class="button" href="#" data-confirm>
                <span>OK</span>
                <i class="icon_check"></i>
            </a>

        </div>

    </div>


    <div class="form" id="serv">

        <h1>Vous êtes affecté au service</h1>

        <p class="serv_number">12345</p>

        <div class="buttons">

            <a class="button" href="#" data-confirm>
                <span>Oui</span>
                <i class="icon_check"></i>
            </a>

            <a class="button" href="#" data-popup="change_course">
                <span>Autre</span>
                <i class="icon_refresh"></i>
            </a>

        </div>

    </div>


    <div class="form" id="agent">

        <h1>Service agent</h1>

        <input inputmode="numeric" pattern="[0-9]*" type="text" name="matricule" value="" placeholder="•••••">

        <div class="buttons">

            <a class="button" href="#" data-confirm>
                <span>OK</span>
                <i class="icon_check"></i>
            </a>

        </div>

    </div>




</div>
