<div class="page_wrapper">

    <div class="line_view">

        <div class="side">

            <div class="line_name">

                <div class="name_wrap">

                    <span class="label">LIGNE</span>

                    <span class="number">3</span>

                </div>

            </div>



            <div class="time_indicator late">

                <i class="icon_arrow_up_long"></i>

                <div class="minutes">
                    <span class="plus">+</span>
                    <span class="minus">-</span>
                    <span>5</span>
                    <span class="min">min</span>
                </div>

                <i class="icon_arrow_down_long"></i>

            </div>

        </div>



        <div class="stops">

            <div class="line">
                <div class="dots">

                </div>
            </div>

            <div class="stop last">
                <span class="point"></span>
                <span>10:38 LEFFRINCKOUCKE PLAGE</span>
            </div>



            <div class="sliding_stops">

                <div class="stop_wrap">

                    <div class="sl_stop">
                        <span class="point"></span>
                        <span>Parc Des Sports</span>
                    </div>

                    <div class="sl_stop">
                        <span class="point"></span>
                        <span>Britania</span>
                    </div>

                    <div class="sl_stop">
                        <span class="point"></span>
                        <span>Choiseul</span>
                    </div>

                    <div class="sl_stop">
                        <span class="point"></span>
                        <span>Poste de secours</span>
                    </div>

                    <div class="sl_stop">
                        <span class="point"></span>
                        <span>Avenue Kleber</span>
                    </div>

                    <div class="sl_stop">
                        <span class="point"></span>
                        <span>Turenne</span>
                    </div>

                    <div class="sl_stop">
                        <span class="point"></span>
                        <span>Geeraert</span>
                    </div>

                    <div class="sl_stop">
                        <span class="point"></span>
                        <span>MALO PLAGE</span>
                    </div>

                    <div class="sl_stop">
                        <span class="point"></span>
                        <span>FENELON</span>
                    </div>

                    <div class="sl_stop">
                        <span class="point"></span>
                        <span>ST J. BAPTISTE</span>
                    </div>

                </div>



            </div>



            <div class="stop first">
                <span class="point"></span>
                <span>09:57 IMPRESSIONNISTES</span>
            </div>

        </div>

    </div>

</div>
