<div class="page_wrapper">

    <div class="page_header">
        <h1 class="title">Messages</h1>
    </div>

    <a href="#" class="button big msg">
        <span class="title">@Tuco</span>
        <span class="time">12/04/2018 - 10:10:54</span>
    </a>

    <a href="#" class="button big msg">
        <span class="title">@Tuco</span>
        <span class="time">12/04/2018 - 10:10:54</span>
    </a>

    <a href="#" class="button big msg">
        <span class="title">@Tuco</span>
        <span class="time">12/04/2018 - 10:10:54</span>
    </a>

    <a href="#" class="button big msg">
        <span class="title">@Tuco</span>
        <span class="time">12/04/2018 - 10:10:54</span>
    </a>

    <a href="#" class="button big msg">
        <span class="title">@Tuco</span>
        <span class="time">12/04/2018 - 10:10:54</span>
    </a>

    <a href="#" class="button big msg">
        <span class="title">@Tuco</span>
        <span class="time">12/04/2018 - 10:10:54</span>
    </a>

</div>
