<div class="page_wrapper">

    <div class="page_header">
        <h1 class="title">GESTION DU SERVICE</h1>
    </div>

    <div class="grid">

            <a class="col-4 button big mono" href="#"><span>Relève conducteur</span></a>

            <a class="col-4 button big mono" href="#"><span>Liste des arrêts</span></a>

            <a class="col-4 button big mono" href="#"><span>Changer de course</span></a>

            <a class="col-4 button big mono" href="#" disabled><span>Choisir un service</span></a>

            <a class="col-4 button big mono" href="#"><span>Fermer le service</span></a>

    </div>

</div>
