<div class="page_wrapper">

    <div class="page_header">
        <h1 class="title">Parametrages</h1>
    </div>

    <div class="grid">

        <a href="#" class="col-4 button big">
            <span>Audio</span>
            <i class="icon_audio"></i>
        </a>

        <a href="#" class="col-4 button big">
            <span>Mode</span>
            <i class="icon_contrast"></i>
        </a>

        <a href="#" class="col-4 button big">
            <span>tft</span>
            <i class="icon_text"></i>
        </a>

        <div class="col-4">

        </div>

        <a href="#" class="col-4 button big">
            <span>Girouettes</span>
            <i class="icon_sign"></i>
        </a>

        <a href="#" class="col-2 button big mono">
            <i class="icon_lock"></i>
        </a>

    </div>

</div>
