<div class="page_wrapper">

    <div class="grid">

        <div class="col-4">

            <h2 class="column_title">PCC</h2>

            <div class="grid">

                <a class="col-4 button big mono" href="#">
                    <i class="icon_road_block"></i>
                </a>

                <a class="col-4 button big mono" href="#">
                    <i class="icon_broke"></i>
                </a>

                <a class="col-4 button big mono" href="#">
                    <i class="icon_people"></i>
                </a>

                <a class="col-4 button big mono" href="#">
                    <i class="icon_medical"></i>
                </a>

                <a class="col-4 button big mono" href="#">
                    <i class="icon_car_crash"></i>
                </a>

                <a class="col-4 button big mono" href="#">
                    <i class="icon_garbage"></i>
                </a>

                <a class="col-4 button big mono" href="#">
                    <i class="icon_ask_info"></i>
                </a>

                <a class="col-4 button big mono" href="#">
                    <i class="icon_shift_failed"></i>
                </a>


            </div>

        </div>

        <div class="col-4">

            <h2 class="column_title">Vehicule</h2>

            <div class="grid">

                <a class="col-4 button big mono" href="#">
                    <i class="icon_exit"></i>
                </a>

                <a class="col-4 button big mono" href="#">
                    <i class="icon_bus_back"></i>
                </a>

                <a class="col-4 button big mono" href="#">
                    <i class="icon_wheelchair"></i>
                </a>

                <a class="col-4 button big mono" href="#">
                    <i class="icon_dog"></i>
                </a>

                <a class="col-4 button big mono" href="#">
                    <i class="icon_road_off"></i>
                </a>

                <a class="col-4 button big mono" href="#">
                    <i class="icon_road_in"></i>
                </a>


            </div>

        </div>

    </div>

</div>
